{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__main-currencies">
				<div class="container">
					<div class="main-currencies__row row row-nowrap">
						<div class="main-currencies__col">
							<div class="main-currencies__heading">
								<h2 class="block-title">You are giving</h2>

								<svg class="hidden-pre-mobile" width="63" height="11" viewBox="0 0 63 11" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5.29999H61.1663" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
									<path d="M54.9913 1.02628L61.1662 5.29999" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
									<path d="M61.1662 5.29999L54.9913 9.5737" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
								</svg>

							</div>

							<div class="main-currencies b-radius">

								<div class="main-currencies__list">
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
								</div>
							</div>

						</div>
						<!-- //main currencies -->

						<div class="main-currencies-exchange__col">
							<div class="main-currencies-exchange">

								<div class="main-currencies__heading row-gutters">
									<h2 class="block-title col-gutters">You get</h2>
									<p class="block-title col-gutters hidden-pre-mobile">Rate</p>
									<p class="block-title col-gutters hidden-pre-mobile">Reserve</p>
								</div>

								<div class="main-currencies-exchange__list blur-block b-radius">
									
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
								</div>
							</div>
						</div>
					</div>

					{% include '../parts/sections/partners.html' %}
				</div>
				<!-- //container -->
			</section>

			{% include '../parts/sections/sect-reviews.html' %}
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>