{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__main-currencies">
				<div class="container">
					<div class="main-currencies__row row row-nowrap">
						<div class="main-currencies__col">
							<div class="main-currencies__heading">
								<h2 class="block-title">You are giving</h2>

								<svg class="hidden-pre-mobile" width="63" height="11" viewBox="0 0 63 11" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 5.29999H61.1663" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
									<path d="M54.9913 1.02628L61.1662 5.29999" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
									<path d="M61.1662 5.29999L54.9913 9.5737" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
								</svg>

							</div>

							<div class="main-currencies b-radius">

								<div class="main-currencies__list">
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
									{% include '../parts/components/main-currency.html' %}
								</div>
							</div>

						</div>
						<!-- //main currencies -->

						<div class="main-currencies-exchange__col">
							<div class="main-currencies-exchange">

								<div class="main-currencies__heading row-gutters">
									<h2 class="block-title col-gutters">You get</h2>
									<p class="block-title col-gutters hidden-pre-mobile">Rate</p>
									<p class="block-title col-gutters hidden-pre-mobile">Reserve</p>
								</div>

								<div class="main-currencies-exchange__list blur-block b-radius">
									
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
									{% include '../parts/components/main-currency-exchange.html' %}
								</div>
							</div>
						</div>
					</div>

					{% include '../parts/sections/partners.html' %}
				</div>
				<!-- //container -->
			</section>

			{% include '../parts/sections/sect-reviews.html' %}
		</main>
		<!-- //Main -->

		<!-- Popup form-->
		<div class="popup js-popup js-request-popup">
			<div class="popup__overflow">
				<div class="popup__body text-center">
					<button class="btn-close js-close-popup-btn" type="button">
						<svg  viewBox="0 0 13 13"  xmlns="http://www.w3.org/2000/svg">
							<path d="M1 11.1116L11.1116 0.999946"/>
							<path d="M1 1L11.1116 11.1116"/>
						</svg>
					</button>
					<!-- Popup content-->
					<div class="popup__content">
						<p class="popup__title">Reserve Request</p>
						<form class="form js-form">
							<!-- Hidden inputs -->
							<input type="hidden" name="project_name" value="easyChange">
							<input type="hidden" name="form_subject" value="Reserve Request">
							<!-- // Hidden inputs -->
							<fieldset class="form-group">
								<input type="text" class="form-input js-required-input" name="required-amount">
								<span class="form-input-placeholder">Required amount <span>*</span></span>
							</fieldset>

							<fieldset class="form-group">
								<input type="email" class="form-input js-required-input" name="email">
								<span class="form-input-placeholder">E-mail <span>*</span></span>
							</fieldset>

							<fieldset class="form-group">
								<textarea name="comment"class="form-input js-required-input form-textarea"></textarea>
								<span class="form-input-placeholder">Comment <span>*</span></span>
							</fieldset>

							<button class="btn btn-wide" type="submit">Send request</button>
						</form>
					</div>
					<!-- //Popup content-->
				</div>
			</div>
		</div>
		<!-- //Popup form-->

		<!-- Popup thanks-->
		{% include '../parts/components/thanks.html' %}
		<!-- //Popup thanks-->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>