<div class="main-currency main-currency-exchange">
	<div class="main-currency__row row align-horisontal-between align-vertical-center row-nowrap row-gutters">
		<div class="main-currency__information col-gutters">
			<div class="main-currency__logo">
				<img src="img/bitcoin.svg" alt="">
			</div>
			<div class="main-currency__titles">
				<h3 class="main-currency__abbr">BTC</h3>
				<p class="main-currency__title">Decentraland</p>
			</div>
		</div>
		<div class="main-currency__rate col-gutters hidden-pre-mobile">
			<p>1 - 23769.65</p>
		</div>
		<div class="main-currency__reserve col-gutters hidden-pre-mobile">
			<p>7474499.89</p>

			<button type="button" class="currency-bell js-open-requrest-form-btn">
				<svg  viewBox="0 0 16 19"  xmlns="http://www.w3.org/2000/svg">
					<path d="M8 15.2H15.2C15.64 15.2 16 14.84 16 14.4V12.696C16 12.32 15.728 12.024 15.368 11.92C13.52 11.392 13.16 9.192 12.8 4.8C12.6 2.408 11.2 0 8 0C4.8 0 3.4 2.408 3.2 4.8C2.84 9.192 2.472 11.392 0.632 11.92C0.272 12.024 0 12.32 0 12.696V14.4C0 14.84 0.36 15.2 0.8 15.2H8Z"/>
					<path d="M8.00002 18.4C7.12002 18.4 6.40002 17.68 6.40002 16.8V15.2H9.60002V16.8C9.60002 17.68 8.88002 18.4 8.00002 18.4Z"/>
				</svg>
			</button>
		</div>
	</div>
</div>