<div class="form-select__wrapper js-select">
	<input type="hidden" name="exchange-currency" class="js-select-input">
	<div class="exchange-heading__currency form-input js-select-choiced">
		<span class="exchange-heading__currency-logo">
			<img src="img/bitcoin.svg" alt="">
		</span>
		<div>
			<span class="main-currency__abbr">BTC</span>
			<span class="main-currency__title">Bitcoin</span>
		</div>
	</div>

	<div class="form-select">
		<div class="form-select-options styled-scroll">
			<div class="form-select-option" data-currency-logo="img/bitcoin.svg" data-currency-abbr="BTC" data-currency-name="Bitcoin" data-currency-key="value">
				<div class="form-select-option__inner">
					<div class="exchange-heading__currency">
						<span class="exchange-heading__currency-logo">
							<img src="img/bitcoin.svg" alt="">
						</span>
						<div>
							<span class="main-currency__abbr">BTC</span>
							<span class="main-currency__title">Bitcoin</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-select-option" data-currency-logo="img/bitcoin.svg" data-currency-abbr="DC" data-currency-name="Doggee Coin" data-currency-key="value2">
				<div class="form-select-option__inner">
					<div class="exchange-heading__currency">
						<span class="exchange-heading__currency-logo">
							<img src="img/bitcoin.svg" alt="">
						</span>
						<div>
							<span class="main-currency__abbr">DC</span>
							<span class="main-currency__title">Doggee Coin</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-select-option" data-currency-logo="img/bitcoin.svg" data-currency-abbr="DCD" data-currency-name="Decentraland" data-currency-key="value3">
				<div class="form-select-option__inner">
					<div class="exchange-heading__currency">
						<span class="exchange-heading__currency-logo">
							<img src="img/bitcoin.svg" alt="">
						</span>
						<div>
							<span class="main-currency__abbr">DCD</span>
							<span class="main-currency__title">Decentraland</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-select-option" data-currency-logo="img/bitcoin.svg" data-currency-abbr="DCD" data-currency-name="Decentraland" data-currency-key="value3">
				<div class="form-select-option__inner">
					<div class="exchange-heading__currency">
						<span class="exchange-heading__currency-logo">
							<img src="img/bitcoin.svg" alt="">
						</span>
						<div>
							<span class="main-currency__abbr">DCD</span>
							<span class="main-currency__title">Decentraland</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-select-option" data-currency-logo="img/bitcoin.svg" data-currency-abbr="DCD" data-currency-name="Decentraland" data-currency-key="value3">
				<div class="form-select-option__inner">
					<div class="exchange-heading__currency">
						<span class="exchange-heading__currency-logo">
							<img src="img/bitcoin.svg" alt="">
						</span>
						<div>
							<span class="main-currency__abbr">DCD</span>
							<span class="main-currency__title">Decentraland</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-select-option" data-currency-logo="img/bitcoin.svg" data-currency-abbr="DCD" data-currency-name="Decentraland" data-currency-key="value3">
				<div class="form-select-option__inner">
					<div class="exchange-heading__currency">
						<span class="exchange-heading__currency-logo">
							<img src="img/bitcoin.svg" alt="">
						</span>
						<div>
							<span class="main-currency__abbr">DCD</span>
							<span class="main-currency__title">Decentraland</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-select-option" data-currency-logo="img/bitcoin.svg" data-currency-abbr="DCD" data-currency-name="Decentraland" data-currency-key="value3">
				<div class="form-select-option__inner">
					<div class="exchange-heading__currency">
						<span class="exchange-heading__currency-logo">
							<img src="img/bitcoin.svg" alt="">
						</span>
						<div>
							<span class="main-currency__abbr">DCD</span>
							<span class="main-currency__title">Decentraland</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-select-option" data-currency-logo="img/bitcoin.svg" data-currency-abbr="DCD" data-currency-name="Decentraland" data-currency-key="value3">
				<div class="form-select-option__inner">
					<div class="exchange-heading__currency">
						<span class="exchange-heading__currency-logo">
							<img src="img/bitcoin.svg" alt="">
						</span>
						<div>
							<span class="main-currency__abbr">DCD</span>
							<span class="main-currency__title">Decentraland</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-select-option" data-currency-logo="img/bitcoin.svg" data-currency-abbr="DCD" data-currency-name="Decentraland" data-currency-key="value3">
				<div class="form-select-option__inner">
					<div class="exchange-heading__currency">
						<span class="exchange-heading__currency-logo">
							<img src="img/bitcoin.svg" alt="">
						</span>
						<div>
							<span class="main-currency__abbr">DCD</span>
							<span class="main-currency__title">Decentraland</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-select-option" data-currency-logo="img/bitcoin.svg" data-currency-abbr="DCD" data-currency-name="Decentraland" data-currency-key="value3">
				<div class="form-select-option__inner">
					<div class="exchange-heading__currency">
						<span class="exchange-heading__currency-logo">
							<img src="img/bitcoin.svg" alt="">
						</span>
						<div>
							<span class="main-currency__abbr">DCD</span>
							<span class="main-currency__title">Decentraland</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-select-option" data-currency-logo="img/bitcoin.svg" data-currency-abbr="DCD" data-currency-name="Decentraland" data-currency-key="value3">
				<div class="form-select-option__inner">
					<div class="exchange-heading__currency">
						<span class="exchange-heading__currency-logo">
							<img src="img/bitcoin.svg" alt="">
						</span>
						<div>
							<span class="main-currency__abbr">DCD</span>
							<span class="main-currency__title">Decentraland</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>