<div class="popup js-popup js-thanks thanks" >
	<div class="popup__overflow">
		<div class="popup__body text-center">
			<!-- Popup content-->
			<div class="popup__content">
				<div class="thanks-block">
					<div class="icon-title">
						<span class="icon-title__ic" style="background-image: url('img/icons/svg/thanks.svg');"></span>
					</div>

					<div class="thanks-block-content">
						<div class="thanks-block-content__text">
							<p class="popup__title">Thank you!</p>
							<p class="thanks-text">Your withdrawal request is being processed. Within 5 minutes you will receive an email with the status of the transaction. </p>
							<p class="thanks-notice">If you have any difficulties contact technical support</p>
							<a href="index.html" class="btn btn-wide">Go to main page</a>
						</div>
						<div class="thanks-loader">
							<div class="preloader"><span></span></div>
						</div>
					</div>
				</div>

			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>