<div class="partners-wrapper">
	<h2 class="block-title">Our Partners</h2>

	<div class="partners b-radius">
		<div class="row partners__row align-vertical-center align-horisontal-start row-gutters">
			<div class="partner"><img src="img/partners/1.png" alt=""></div>
			<div class="partner"><img src="img/partners/2.png" alt=""></div>
			<div class="partner"><img src="img/partners/3.png" alt=""></div>
			<div class="partner"><img src="img/partners/4.png" alt=""></div>
			<div class="partner"><img src="img/partners/5.png" alt=""></div>
			<div class="partner"><img src="img/partners/6.png" alt=""></div>
		</div>
	</div>
</div>