<section class="sect__reviews">
	<div class="container">
		<div class="reviews-heading row align-horisontal-between row-nowrap align-vertical-center">
			<h2 class="block-title">Reviews</h2>

			<a href="reviews.html" class="permalink">
				<span>Open all</span>
				<svg width="29" height="13" viewBox="0 0 29 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 6.52008H28" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M21.8979 1.76807L27.9999 6.52007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M27.9999 6.52008L21.8979 11.2721" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</a>
		</div>

		<div class="reviews b-radius">
			<div class="reviews__row row row-nowrap  align-horisontal-start">
				<div class="review__wrapper col-w-25">
					<div class="review">
						<h3 class="review-title">prydz07</h3>
						<div class="review-information row row-nowrap">
							<span>20.07.2022</span>
							<span>19:40</span>
						</div>
						<p>Super fast service at very convenient rates every time I use it, good job guys!</p>
					</div>
				</div>

				<div class="review__wrapper col-w-25">
					<div class="review">
						<h3 class="review-title">maxon4er</h3>
						<div class="review-information row row-nowrap">
							<span>20.07.2022</span>
							<span>19:40</span>
						</div>
						<p>все супер ! за 5 мин перевод дошел</p>
					</div>
				</div>

				<div class="review__wrapper col-w-25">
					<div class="review">
						<h3 class="review-title">warhammer</h3>
						<div class="review-information row row-nowrap">
							<span>20.07.2022</span>
							<span>19:40</span>
						</div>
						<p>все отлично . спасибо ! думал в такой поздний час не смогу обменять . отличный сервис</p>
					</div>
				</div>

				<div class="review__wrapper col-w-25">
					<div class="review">
						<h3 class="review-title">servegas</h3>
						<div class="review-information row row-nowrap">
							<span>20.07.2022</span>
							<span>19:40</span>
						</div>
						<p>Прекрасная работа. Обмен прошёл молниеносною Всем рекомендую. Команде спасибо!</p>
					</div>
				</div>



			</div>
		</div>
	</div>
	<!-- //container -->
</section>