//  Fonts 
$Med = 'Montserrat-Medium', Arial, sans-serif
$SemiBold = 'Montserrat-SemiBold', Arial, sans-serif

// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $Med
$body-font-size = 14px
$body-line-height = 17px

// Sizes
$container-width = 1200px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #4579FF
$secondary-color = #50D673
$light-secondary-color = rgba($secondary-color, .3)
$text-color = white
$light-text-color = rgba(255,255,255, .4)

$basic-white-color = #fff
$basic-black-color = #000

$error-color = #EF2E7F
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #301A5C
$header-bg = #a2a2a2
$footer-bg = #a2a2a2

$dark-bg = #090909

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========

$b-radius = 35px
$mobile-b-radius = 23px
$border = 0.5px solid rgba(255, 255, 255, 0.1)